Repository 799953468/nicetools, changes with the labels that .github/labeler.yml gives for each.
All labels: 📦 Dependencies, CSS, 📖 Docs, Layout, 🌍 i18n, Actions

add template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

update tool search
  src/Components/DefaultLayout/index.tsx
  src/Components/Search/index.tsx
  src/Pages/Index/index.tsx
  src/utils/store/reducer/toolsReducer.ts
  src/utils/store/reducer/usersReducer.ts
  src/utils/tools/index.tsx
  types/index.d.ts
Labels: Layout

update search icon
  src/Components/Search/index.tsx
Labels: Layout

update CI
  .github/label-commenter-config.yml
Labels: none

update animation
  src/main.module.scss
  src/main.tsx
  types/index.d.ts
Labels: CSS, Layout

update CI
  .editorconfig
  .github/workflows/tester.yml
  .gitignore
  .stylelintrc
  package.json
  pnpm-lock.yaml
  src/Components/Container/index.module.scss
  src/Components/DefaultLayout/index.module.scss
  src/Components/DefaultLayout/index.tsx
  src/Components/Navbar/index.module.scss
  src/Components/Search/index.module.scss
  src/Components/Search/index.tsx
  src/Components/SvgIcon/Index.tsx
  src/Components/ThemeBtn/index.module.scss
  src/Components/ThemeBtn/index.tsx
  src/Pages/Index/index.tsx
  src/Pages/Tools/NTES/index.module.scss
  src/Pages/Tools/ScreenRecord/index.module.scss
  src/Pages/Tools/ScreenRecord/index.tsx
  src/assets/icon/code.svg
  src/assets/icon/image.svg
  src/assets/icon/layer-group.svg
  src/assets/icon/magnifying.svg
  src/assets/icon/moon.svg
  src/assets/icon/sun.svg
  src/assets/icon/text.svg
  src/main.module.scss
  src/main.tsx
  src/utils/store/hooks.ts
  src/utils/store/reducer/toolsReducer.ts
  src/utils/store/reducer/usersReducer.ts
  src/utils/tools/index.tsx
Labels: 📦 Dependencies, CSS, Layout, Actions

Delete pnpm-lock.yaml
  pnpm-lock.yaml
Labels: none

update dependencies
  package.json
Labels: 📦 Dependencies

update CI
  README.md
  renovate.json
Labels: none

Add license scan report and status
  README.md
Labels: none

add PomodoroTechnique
  package.json
  src/Components/Search/index.tsx
  src/Components/SvgIcon/Index.tsx
  src/Pages/Tools/PomodoroTechnique/index.module.scss
  src/Pages/Tools/PomodoroTechnique/index.tsx
  src/Pages/Tools/ScreenRecord/index.tsx
  src/assets/audio/white-noise/preset_wakeup_forest.m4a
  src/assets/audio/white-noise/preset_wakeup_ocean.m4a
  src/assets/audio/white-noise/preset_wakeup_provence.m4a
  src/assets/icon/code.svg
  src/assets/icon/image.svg
  src/assets/icon/layer-group.svg
  src/assets/icon/magnifying.svg
  src/assets/icon/text.svg
  src/utils/store/reducer/toolsReducer.ts
  src/utils/tools/index.tsx
  tsconfig.json
  types/index.d.ts
Labels: 📦 Dependencies, CSS, Layout

fix type
  src/Pages/Tools/PomodoroTechnique/index.tsx
  tsconfig.json
Labels: Layout

add lifeCount
  package.json
  src/Pages/Tools/LifeCount/index.module.scss
  src/Pages/Tools/LifeCount/index.tsx
  src/Pages/Tools/PomodoroTechnique/index.tsx
  types/index.d.ts
  types/lifeCount.d.ts
  types/reduxState.d.ts
  types/screenRecord.d.ts
  vite.config.ts
Labels: 📦 Dependencies, CSS, Layout

[CodeFactor] Apply fixes to commit c08e707
  src/Pages/Tools/LifeCount/index.tsx
Labels: Layout

.github/labeler.yml:

# Configuration for labeler - https://github.com/actions/labeler

📦 Dependencies:
  - changed-files:
      - any-glob-to-any-file: package.json
CSS:
  - changed-files:
      - any-glob-to-any-file: src/**/*.scss
📖 Docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
Layout:
  - changed-files:
      - any-glob-to-any-file: src/**/*.tsx
🌍 i18n:
  - changed-files:
      - any-glob-to-any-file: languages/**/*
Actions:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**/*
